/* This file is for your main application css. */

$body-bg: #BBB; // With scss, Bootstrap lets us override colors and stuff.
@import "~bootstrap/scss/bootstrap";

.product-preview{
    height: 300px;
    padding: 20px;
    width: 100%
    /* width: 400px */  
}
.marginTop{
    margin-top: 20px;
    padding: 15px
}

.product-info-container{
    padding: 20px;
}
.overflowClass{
    height: 120px;
    overflow-y: scroll
}
